<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>jersey-services</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.variacode.bancointeligente.core.bo;com.variacode.bancointeligente.core.controller;com.variacode.bancointeligente.core.storage;com.variacode.bancointeligente.core.rest</param-value>
        </init-param>
        <init-param>
            <param-name>
                javax.ws.rs.Application
            </param-name>
            <param-value>
                com.variacode.bancointeligente.core.rest.ApplicationConfig
            </param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey-services</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DefaultJaxrsConfig</servlet-name>
        <servlet-class>com.wordnik.swagger.jaxrs.config.DefaultJaxrsConfig</servlet-class>
        <init-param>
            <param-name>api.version</param-name>
            <param-value>1.0.0</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.api.basepath</param-name>
            <param-value>/banco-inteligente/rest</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.filter</param-name>
            <param-value>com.wordnik.swagger.sample.util.ApiAuthorizationFilterImpl</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>com.variacode.bancointeligente.core.rest.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <servlet-name>jersey-services</servlet-name>
    </filter-mapping>
</web-app>
